body{
    background-color: #eee;
}

#content{
    width: 400px;
    background: #fff;
    padding: 20px;
    padding-top: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: #444;
    margin: 0 auto;

    max-height: 200px;
    overflow: hidden;

    transition: max-height 0.7s;
}

#content.open{
    max-height: 1000px;
    transition: max-height 0.7s;
}

#show-more{
    background: #1594e5;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    width: 140px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
}